{% extends 'layout.html' %}
{% block title %}
<link rel="stylesheet" href="{{ url_for('static', filename='/main.css') }}">
<title>NWB Schedule Generator</title>
{% endblock %}
{% block content %}
<header>
    <nav>
        <a href="main.html" class="nav-brand">NWB SCHEDULER</a>
        <ul id="links">
            <li><a href="">Log In</a></li>
            <li><a href="">Download</a></li>
        </ul>
    </nav>
</header>


<main>
    <section id="main-screen">
        <div class="card-intro">
            <h3>Welcome to NWB Scheduler</h3>
            <h4>What is NWB Scheduler?</h4>
            <p>NWB is the abbreviation for <strong>Our Christian Life And Ministry Workbook</strong>. NWB Scheduler was
                designed
                to assist brothers given the assignment to design programs for their respective congregations easily.
            </p>
        </div>
    </section>

    <section id="features">
        <h3>NWBS Features</h3>
        <div class="feature-card">
            <ul>
                <li>
                    <h5>Generate One-Time Schedule</h5>
                    <p>Generate and create a one
                        time schedule to be used for your
                        respective congregations with our simple approach</p>
                </li>
            </ul>
        </div>
        <div class="feature-card">
            <ul>
                <li>
                    <h5>Generate One-Time Schedule</h5>
                    <p>Generate and create a one
                        time schedule to be used for your
                        respective congregations with our simple approach</p>
                </li>
            </ul>
        </div>
        <div class="feature-card">
            <ul>
                <li>
                    <h5>Generate One-Time Schedule</h5>
                    <p>Generate and create a one
                        time schedule to be used for your
                        respective congregations with our simple approach</p>
                </li>
            </ul>
        </div>
        <div class="feature-card">
            <ul>
                <li>
                    <h5>Generate One-Time Schedule</h5>
                    <p>Generate and create a one
                        time schedule to be used for your
                        respective congregations with our simple approach</p>
                </li>
            </ul>
        </div>
        <div class="feature-card">
            <ul>
                <li>
                    <h5>Generate One-Time Schedule</h5>
                    <p>Generate and create a one
                        time schedule to be used for your
                        respective congregations with our simple approach</p>
                </li>
            </ul>
        </div>
    </section>
</main>

<footer>
    <ul class="copyrights">
        <li><a class="h5">Copyright Terms</a></li>
        <li><a>Terms and conditions</a></li>
        <li><a>Sign up as a partner</a></li>
    </ul>
    <ul class="contact">
        <li><a class="h5">Contact Info</a></li>
        <li><a>Gmail</a></li>
        <li><a>Telegram</a></li>
        <li><a>Twitter</a></li>
    </ul>
</footer>

{% endblock %}